body {
  background-color: white;
}

div.wrapper {
  width: 960px;
  margin: auto;
}

div.header {
  font-size: 48px;
  background-color: lavender;
  color: blue;
  text-align: center;
}

div.nav {
  background-color: lavender;
}

div.left {
  float: left;
  margin: 25px;
  padding: 10px;
  border: 5px blue solid;
}

div.right {

}

h3 {
  margin: auto;
}

li {
  list-style-type: none;
  float: center;
  padding: 10px;
  color: blue;
  display: inline-block;
  font-size: 24px;
}

img {
  height: 192px;
  width: 144px;
  display:block;
  margin: auto;
}

p {
  color: green;
}
